<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" [routerLink]="['inicio']">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive='activate'>
                <a class="nav-link" [routerLink]="['registro']">Registro</a>
            </li>
            <li class="nav-item" routerLinkActive='activate'>
                <a class="nav-link" [routerLink]="['registro-producto']">Registrar Producto</a>
            </li>
            <li class="nav-item" routerLinkActive='activate'>
                <a class="nav-link" [routerLink]="['factura']">Factura</a>
            </li>
        </ul>
    </div>
</nav>
<br />