<div class="form container">
    <h3>Registro de Cliente</h3>
    <br />
    <h5>Datos</h5>
    <p></p>
    <form [formGroup]="registro">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" data-role="input" formControlName="nombre" placeholder="Nombre">
                <div class="error" *ngIf="nombre.invalid && (nombre.dirty|| nombre.touched)">
                    <span id="alerta" class="tally alert" *ngIf="nombre.errors.required">Nombre es requerido</span>
                    <br />
                    <span id="alerta" class="tally alert" *ngIf="nombre.errors.minlength">Nombre tiene menos de 3
                        letras</span>
                </div>
            </div>
            <div class="col">
                <input type="text" class="form-control" data-role="input" formControlName="apellido"
                    placeholder="Apellido">
                <div class="error" *ngIf="apellido.invalid && (apellido.dirty|| apellido.touched)">
                    <span id="alerta" class="tally alert" *ngIf="apellido.errors.required">Apellido es requerido</span>
                    <span id="alerta" class="tally alert" *ngIf="apellido.errors.minlength">Apellido tiene menos de 3
                        letras</span>
                </div>
            </div>
        </div>
        <p></p>
        <input type="text" class="form-control" data-role="input" formControlName="nombre" placeholder="Cédula">
        <div class="error" *ngIf="nombre.invalid && (nombre.dirty|| nombre.touched)">
            <span id="alerta" class="tally alert" *ngIf="nombre.errors.required">Nombre es requerido</span>
            <br />
            <span id="alerta" class="tally alert" *ngIf="nombre.errors.minlength">Nombre tiene menos de 3
                letras</span>
        </div>
        <p></p>
        <!--
        <input type="text" data-role="input" formControlName="nombre" placeholder="Nombre">
        <div class="error" *ngIf="nombre.invalid && (nombre.dirty|| nombre.touched)">
            <span id="alerta" class="tally alert" *ngIf="nombre.errors.required">Nombre es requerido</span>
            <br />
            <span id="alerta" class="tally alert" *ngIf="nombre.errors.minlength">Nombre tiene menos de 3 letras</span>
        </div>
        <br />-->
        <input type="email" data-role="input" formControlName="email" placeholder="google@gmail.com">
        <div class="error" *ngIf="email.invalid && (email.dirty || email.touched)">
            <span id="alerta" class="tally alert" *ngIf="email.errors.required">Email es requerido</span>
            <br>
            <span id="alerta" class="tally alert" *ngIf="email.errors,minlength">Email tiene menos de 5 letras</span>
            <br>
            <span id="alerta" class="tally alert"
                *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">Email no válido</span>
        </div>
        <br>
        <textarea type="text" data-role="input" formControlName="mensaje" placeholder="Escribe tu Mensaje"></textarea>
        <div class="error" *ngIf="mensaje.invalid && (mensaje.dirty|| mensaje.touched)">
            <span id="alerta" class="tally alert" *ngIf="mensaje.errors.required">Nombre es requerido</span>
            <br />
            <span id="alerta" class="tally alert" *ngIf="mensaje.errors.minlength">Nombre tiene menos de 20
                letras</span>
            <br />
            <span id="alerta" class="tally alert" *ngIf="mensaje.errors.maxlength">Nombre tiene más de 100 letras</span>
        </div>
        <br />
        <button type="submit" class="button primary large" (click)="validar()"
            [disabled]="!registro.valid">Enviar</button>
    </form>
</div>